frontend/enc-notes/node_modules
node_modules/
scripts/.aws-sam/build.toml
scripts/.aws-sam/build/template.yaml
scripts/.aws-sam/build/AddNoteFunction/addNote.js
scripts/.aws-sam/build/ConnectFunction/connect.js
scripts/.aws-sam/build/DeleteNoteFunction/deleteNote.js
scripts/.aws-sam/build/DisconnectFunction/disconnect.js
scripts/.aws-sam/build/ExtractMessagesFunction/extractMessages.js
scripts/.aws-sam/build/ListNotesFunction/listNotes.js
scripts/.aws-sam/build/UpdateNoteFunction/updateNote.js
test-connectivity/.aws-sam/build.toml
test-connectivity/.aws-sam/build/template.yaml
test-connectivity/.aws-sam/build/MyConnectivityTestFunction/package.json
test-connectivity/.aws-sam/build/MyConnectivityTestFunction/tester.js
scripts/.aws-sam/build/NotesStreamProcessor/.gitignore
scripts/.aws-sam/build/NotesStreamProcessor/readme.md
scripts/.aws-sam/build/NotesStreamProcessor/template.yaml
scripts/.aws-sam/build/NotesStreamProcessor/backend/layers/awssdkv3-layer.zip
scripts/.aws-sam/build/NotesStreamProcessor/backend/layers/ioredis-layer.zip
scripts/.aws-sam/build/NotesStreamProcessor/backend/layers/jsonwebtoken-layer.zip
scripts/.aws-sam/build/NotesStreamProcessor/backend/layers/awssdkv3/nodejs/package-lock.json
scripts/.aws-sam/build/NotesStreamProcessor/backend/layers/awssdkv3/nodejs/package.json
scripts/.aws-sam/build/NotesStreamProcessor/backend/layers/corsHeaders/corsHeaders.js
scripts/.aws-sam/build/NotesStreamProcessor/backend/layers/ioredis/nodejs/package-lock.json
scripts/.aws-sam/build/NotesStreamProcessor/backend/layers/ioredis/nodejs/package.json
scripts/.aws-sam/build/NotesStreamProcessor/backend/layers/jsonwebtoken/nodejs/package-lock.json
scripts/.aws-sam/build/NotesStreamProcessor/backend/layers/jsonwebtoken/nodejs/package.json
scripts/.aws-sam/build/NotesStreamProcessor/backend/notes/add/addNote.js
scripts/.aws-sam/build/NotesStreamProcessor/backend/notes/delete/deleteNote.js
scripts/.aws-sam/build/NotesStreamProcessor/backend/notes/layers/notes-encryption-layer.zip
scripts/.aws-sam/build/NotesStreamProcessor/backend/notes/layers/encryption/encryption.js
scripts/.aws-sam/build/NotesStreamProcessor/backend/notes/list/listNotes.js
scripts/.aws-sam/build/NotesStreamProcessor/backend/notes/stream/notesStream.js
scripts/.aws-sam/build/NotesStreamProcessor/backend/notes/update/updateNote.js
scripts/.aws-sam/build/NotesStreamProcessor/backend/websocket/connect/connect.js
scripts/.aws-sam/build/NotesStreamProcessor/backend/websocket/disconnect/disconnect.js
scripts/.aws-sam/build/NotesStreamProcessor/backend/websocket/extractMessages/extractMessages.js
scripts/.aws-sam/build/NotesStreamProcessor/frontend/enc-notes/.gitignore
scripts/.aws-sam/build/NotesStreamProcessor/frontend/enc-notes/appConfigDev.json
scripts/.aws-sam/build/NotesStreamProcessor/frontend/enc-notes/package-lock.json
scripts/.aws-sam/build/NotesStreamProcessor/frontend/enc-notes/package.json
scripts/.aws-sam/build/NotesStreamProcessor/frontend/enc-notes/README.md
scripts/.aws-sam/build/NotesStreamProcessor/frontend/enc-notes/public/appConfig.json
scripts/.aws-sam/build/NotesStreamProcessor/frontend/enc-notes/public/favicon.ico
scripts/.aws-sam/build/NotesStreamProcessor/frontend/enc-notes/public/index.html
scripts/.aws-sam/build/NotesStreamProcessor/frontend/enc-notes/public/logo192.png
scripts/.aws-sam/build/NotesStreamProcessor/frontend/enc-notes/public/logo512.png
scripts/.aws-sam/build/NotesStreamProcessor/frontend/enc-notes/public/manifest.json
scripts/.aws-sam/build/NotesStreamProcessor/frontend/enc-notes/public/robots.txt
scripts/.aws-sam/build/NotesStreamProcessor/frontend/enc-notes/src/App.css
scripts/.aws-sam/build/NotesStreamProcessor/frontend/enc-notes/src/App.js
scripts/.aws-sam/build/NotesStreamProcessor/frontend/enc-notes/src/App.test.js
scripts/.aws-sam/build/NotesStreamProcessor/frontend/enc-notes/src/index.css
scripts/.aws-sam/build/NotesStreamProcessor/frontend/enc-notes/src/index.js
scripts/.aws-sam/build/NotesStreamProcessor/frontend/enc-notes/src/logo.svg
scripts/.aws-sam/build/NotesStreamProcessor/frontend/enc-notes/src/reportWebVitals.js
scripts/.aws-sam/build/NotesStreamProcessor/frontend/enc-notes/src/setupTests.js
scripts/.aws-sam/build/NotesStreamProcessor/frontend/enc-notes/src/components/Authentication.js
scripts/.aws-sam/build/NotesStreamProcessor/frontend/enc-notes/src/components/CrudOperations.js
scripts/.aws-sam/build/NotesStreamProcessor/frontend/enc-notes/src/components/MarkdownHighlighting.js
scripts/.aws-sam/build/NotesStreamProcessor/scripts/apigateway-logging-role.ps1
scripts/.aws-sam/build/NotesStreamProcessor/scripts/apigateway-logging-role.yaml
scripts/.aws-sam/build/NotesStreamProcessor/scripts/build-dev.ps1
scripts/.aws-sam/build/NotesStreamProcessor/scripts/common-constants.ps1
scripts/.aws-sam/build/NotesStreamProcessor/scripts/delete-lambda-layers.ps1
scripts/.aws-sam/build/NotesStreamProcessor/scripts/deploy-frontend-distribution.ps1
scripts/.aws-sam/build/NotesStreamProcessor/scripts/generate-config-content.ps1
scripts/.aws-sam/build/NotesStreamProcessor/scripts/get-api-url.ps1
scripts/.aws-sam/build/NotesStreamProcessor/scripts/get-stack-outputs.ps1
scripts/.aws-sam/build/NotesStreamProcessor/scripts/getting-started.ps1
scripts/.aws-sam/build/NotesStreamProcessor/scripts/list-deployed-resources.ps1
scripts/.aws-sam/build/NotesStreamProcessor/scripts/list-elasticache-clusters.ps1
scripts/.aws-sam/build/NotesStreamProcessor/test-connectivity/build-and-deploy.ps1
scripts/.aws-sam/build/NotesStreamProcessor/test-connectivity/template.yaml
scripts/.aws-sam/build/NotesStreamProcessor/test-connectivity/src/tester.js
scripts/.aws-sam/build/NotesStreamProcessor/notesStream.js
